.lo {
  padding-top: 50px;

  p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &__listed-logos {
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 55px;
  }
}