@import "../../../assets/misc/mixin.scss";
@import "../../../assets/misc/variables.scss";

.cond {
  padding-top: 105px;
  padding-bottom: 105px;

  @include for-specific-size($desktop-start) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include for-specific-size($tablet-start) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include for-specific-size($mobile-small) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2 {
    margin-bottom: 25px;
  }

  &__sub-header {
    font-size: 24px;

    @include for-specific-size($desktop-small) {
      font-size: 22px;
    }
  }

  &__tiles {
    padding-left: 50px;
    margin-top: 50px;
    position: relative;

    @include for-specific-size($tablet-start) {
      padding-left: 0px;
    }

    @include for-specific-size($mobile-min) {
      padding-left: 0;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 100%;
      width: 455px;
      height: 455px;
      filter: blur(145px);
      z-index: -1;
    }

    &:before {
      background: rgba(0, 211, 140, 0.15);
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
    }

    &:after {
      background: rgba(220, 40, 77, 0.44);
      left: 100%;
      top: 100%;
      transform: translate(-100%, -100%);
    }

    &__tile {
      margin-left: calc(130px * var(--index));
      display: flex;
      column-gap: 25px;
      margin-bottom: 75px;

      @include for-specific-size($tablet-min) {
        margin-bottom: 50px;
        margin-left: calc(90px * var(--index));
      }


      @include for-specific-size($desktop-small) {
        margin-bottom: 40px;
        margin-left: 0;
      }

      @include for-specific-size($mobile-min) {
        margin-left: 0;
      }

      b {
        font-size: 24px;

        @include for-specific-size($desktop-small) {
          font-size: 22px;
        }
      }

      &__number {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #00D38C;
        position: relative;

        @include for-specific-size($desktop-small) {
          width: 60px;
          height: 60px;
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translate(-50%, 30px);
          width: 7px;
          background: rgba(217, 217, 217, 0.17);
          height: 110px;


        }
      }

      &__description {
        b {
          display: block;
          margin-bottom: 21px;
        }

        p {
          width: 560px;
          line-height: 1.7em;
          font-size: 16px;
          margin-bottom: 29px;

          @include for-specific-size($desktop-small) {
            width: 100%;
          }
        }

        &__sub-header, &__footer {
          border-radius: 52px;
          background: rgba(98, 98, 98, 0.30);
          padding: 8px 23px;
          display: inline-block;
        }

        &__sub-header {
          border: 1px solid rgba(0, 211, 140, 0.28);
          color: #00D38C;
          margin-bottom: 29px;
        }
      }
    }
  }
}