.cond {
  padding: 105px 0 105px 0;

  h2 {
    margin-bottom: 25px;
  }

  &__sub-header {
    font-size: 24px;
  }

  &__tiles {
    padding-left: 50px;
    margin-top: 50px;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 100%;
      width: 455px;
      height: 455px;
      filter: blur(145px);
      z-index: -1;
    }

    &:before {
      background: rgba(0, 211, 140, 0.15);
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
    }

    &:after {
      background: rgba(220, 40, 77, 0.44);
      left: 100%;
      top: 100%;
      transform: translate(-100%, -100%);
    }

    &__tile {
      margin-left: calc(130px * var(--index));
      display: flex;
      column-gap: 25px;
      margin-bottom: 75px;

      b {
        font-size: 24px;
      }

      &__number {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #00D38C;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translate(-50%, 30px);
          width: 7px;
          background: rgba(217, 217, 217, 0.17);
          height: 110px;
        }
      }

      &__description {
        b {
          display: block;
          margin-bottom: 21px;
        }

        p {
          width: 560px;
          line-height: 1.7em;
          font-size: 16px;
          margin-bottom: 29px;
        }

        &__sub-header, &__footer {
          border-radius: 52px;
          background: rgba(98, 98, 98, 0.30);
          padding: 8px 23px;
          display: inline-block;
        }

        &__sub-header {
          border: 1px solid rgba(0, 211, 140, 0.28);
          color: #00D38C;
          margin-bottom: 29px;
        }
      }
    }
  }
}