@import "../../../assets/misc/mixin.scss";
@import "../../../assets/misc/variables.scss";

.ss {
  background: rgba(0, 0, 0, 0.41);

  &__main {
    padding: 90px 0 110px 0;
    background: url("../../../assets/img/smart-stats-background.svg") center center no-repeat;
    background-size: 100%;

    @include for-specific-size($mobile-mid) {
      padding: 40px 0 40px 0;
    }

    @include for-specific-size($mobile-small) {
      padding: 40px 20px 40px 20px;
    }

    @include for-specific-size($mobile-min) {
      background: url("../../../assets/img/smart-stats-background-mob.svg") center center no-repeat;
      background-size: 100% auto;
      padding: 40px 20px 80px 20px;
    }

    h2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 940px;

      @include for-specific-size($desktop-small) {
        width: 820px;
      }

      @include for-specific-size($mobile-small) {
        width: 100%;
      }
    }

    button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 90px;

      @include for-specific-size($mobile-small) {
        margin-top: 30px;
      }
    }

    &__sub-header {
      font-size: 24px;
      text-align: center;
      display: block;
      width: 640px;
      margin: 35px auto 60px;

      @include for-specific-size($mobile-small) {
        margin: 35px auto 40px;
      }

      @include for-specific-size($desktop-small) {
        font-size: 22px;
      }

      @include for-specific-size($mobile-min) {
        font-size: 16px;
        text-align: center;
        width: 243px;
      }

    }

    &__tiles {
      display: flex;
      column-gap: 160px;
      justify-content: center;

      @include for-specific-size($mobile-small) {
        column-gap: 120px;
      }

      @include for-specific-size($mobile-min) {
        flex-direction: column;

        hr {
          display: none;
        }
      }

      &__separator {
        display: block;
        width: 1px;
        background: white;
        background: rgba(255, 255, 255, 0.18);
      }

      &__tile {
        padding-top: 20px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        @include for-specific-size($desktop-small) {
          font-size: 16px;
        }

        small {
          text-align: center;
        }

        span {
          text-align: center;
          color: #00D38C;
          font-family: 'Righteous', sans-serif;
          font-size: 64px;

          @include for-specific-size($desktop-small) {
            font-size: 52px;
          }
        }
      }
    }
    &__audit-status {
      margin-top: 35px;
      text-align: center;

      @include for-specific-size($mobile-small) {
        margin-top: 20px;
      }
    }
  }
}