.ib {
  display: flex;
  align-items: center;
  padding-bottom: 30px;

  &__text {
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 25%;
      transform: translate(-50%, -50%);
      content: '';
      width: 455px;
      height: 455px;
      background: rgba(220, 40, 77, 0.44);
      filter: blur(144.5500030517578px);
      border-radius: 455px;
      z-index: -1;
    }

    h1 {
      margin-bottom: 45px;

      span {
        color: #00D38C;
        font-size: inherit;
        font-family: inherit;
      }
    }

    p {
      font-size: 24px;
      margin-bottom: 35px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
  }

  &__image {
    width: 640px;
    margin-left: auto;
  }
}