.header {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  transition: .3s all;
  position: sticky;
  top: 0;

  &.hidden {
    transform: translate(0, -100%);
  }

  &__logo {
    height: 55px;
  }

  &__nav-desktop {
    align-items: center;
    display: flex;
    margin-left: auto;
    column-gap: 24px;

    button {
      margin-left: 60px;
    }
  }
}