.header {
  transition: .3s all;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  z-index: 1;

  &.solid {
    background: #100818;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__desktop-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    &__logo {
      height: 55px;
    }

    &__nav {
      align-items: center;
      display: flex;
      margin-left: auto;
      column-gap: 24px;

      button {
        margin-left: 60px;
      }
    }
  }
}