$main-content-width: 1444px;

$desktop-start: 1536px;

$desktop-small: 1366px;

$desktop-min: 1280px;

$tablet-start: 1180px;

$tablet-min: 1110px;

$mobile-start: 1024px;

$mobile-mid: 980px;

$mobile-small: 864px;

$mobile-min: 768px;