@import 'assets/fonts/index.css';
@import 'assets/misc/mixin.scss';
@import 'assets/misc/variables.scss';

:root {
  --toastify-color-dark: #1D2127 !important;
  --toastify-color-progress-success: #10d47f !important;
  --toastify-color-progress-warning: #e3cd04 !important;
  --toastify-color-progress-error: red !important;

  --toastify-icon-color-success: var(--toastify-color-progress-success) !important;
  --toastify-icon-color-warning: var(--toastify-color-progress-warning) !important;
  --toastify-icon-color-error: var(--toastify-color-progress-error) !important;
}

.Toastify__toast--success {
  border-radius: 8px;
}

.Toastify__toast--warning {
  border-radius: 8px;
}

.Toastify__toast--error {
  border-radius: 8px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Lexend', sans-serif;

  @include for-specific-size($tablet-start) {
    font-size: 14px;
  }
}

#root {
  overflow-x: hidden;
}

b {
  font-weight: 700;
}

body {
  background: #1C0E28;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, h4 {
  font-family: 'Righteous', sans-serif;
  font-size: 64px;

  @include for-specific-size($desktop-small) {
    font-size: 60px;
  }

  @include for-specific-size($desktop-min) {
    font-size: 58px;
  }

  @include for-specific-size($tablet-start) {
    font-size: 48px;
  }

  @include for-specific-size($mobile-small) {
    font-size: 38px;
  }

  @include for-specific-size($mobile-min) {
    font-size: 32px;
  }
}

a.oblique {
  text-decoration: underline;
  font-style: oblique;
}

a:hover {
  text-shadow: 3px 3px 3px rgba(0, 0, 0.3);
}

a, button {
  cursor: pointer;
  text-decoration: none;
  transition: .3s all;
  background: none;
  outline: none;
  border: none;
  border-radius: 16px;
  line-height: 1.3em;
  text-align: center;
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

button.disabled {
  pointer-events: none;
  opacity: .3;
  box-shadow: none;
}

dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  z-index: 2;
}

.dark-bttn {
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #241A33;
}

.red-bttn {
  background: #F32852;
  box-shadow: 0px 13px 18.3px 0px rgba(244, 61, 99, 0.24);
}

.trnp-bttn {
  border: 1px solid #F32852;
}

.long-bttn {
  padding: 18px 0;
  width: 270px;

  @include for-specific-size($tablet-start) {
    width: 250px;
    padding: 16px 0;
  }
}

.big-bttn {
  padding: 18px 0;
  width: 208px;

  @include for-specific-size($tablet-start) {
    width: 190px;
    padding: 16px 0;
  }
}

.mid-bttn {
  padding: 16px 0;
  width: 190px;

  @include for-specific-size($tablet-start) {
    width: 180px;
    padding: 14px 0;
  }
}

.sqr-bttn {
  display: block;
  text-align: center;
  width: 230px;
  border-radius: 2px;
  border: 2px solid #00D38C;
  color: #00D38C;
  font-size: 15px;
  padding: 15px 0;
}

.con-def {
  max-width: $main-content-width;
  margin-left: auto;
  margin-right: auto;

  @include for-specific-size($desktop-start) {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }

  @include for-specific-size($main-content-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include for-specific-size($desktop-small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include for-specific-size($desktop-small) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include for-specific-size($mobile-min) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.con-full {
  width: 100%;

  @include for-specific-size($desktop-start) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include for-specific-size($main-content-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include for-specific-size($desktop-small) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include for-specific-size($tablet-start) {
    padding-left: 0;
    padding-right: 0;
  }
}

hr.con-full, hr.con-def {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.18);
  height: 1px;
  border: none;
}

.con-mob {
  display: none !important;

  @include for-specific-size($tablet-min) {
    display: initial !important;
  }
}

.con-desk {
  @include for-specific-size($tablet-min) {
    display: none !important;
  }
}
